<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <script src="../js/vue2.js"></script>
</head>

<body>
  <div id="main">
    <div id="top-section">

      <!-- 角色图片 -->
      <div id="top-left-section">
        <img id="character_portrait" :src="gm.portrait">
      </div>

      <div id="top-right-section">
        <!-- 输出面板 -->
        <div id="top-right-top-section">
          <textarea id="output-text-area" readonly v-model="output.text_list.join('\n')"></textarea>
        </div>

        <div id="top-right-bottom-section">
          <div id="top-right-bottom-left-section">
            <!-- 属性面板 -->
            <table class="status-table">
              <tr>
                <td class="status-emoji"><span>🎓</span></td>
                <td class="status-name"><span>知识</span></td>
                <td class="status-value"><span>{{ gm.player.knowledge }} / {{ gm.player.maxKnowledge }}</span></td>
                <td class="status-bar" colspan="3">
                  <div class="progress-bar" :style=progress_bar_style(gm.player.knowledge,gm.player.maxKnowledge)><br></div>
                </td>
              </tr>
              <tr>
                <td class="status-emoji"><span>😆</span></td>
                <td class="status-name"><span>心情</span></td>
                <td class="status-value"><span>{{ gm.player.mood }} / {{ gm.player.maxMood }}</span></td>
                <td class="status-bar" colspan="3">
                  <div class="progress-bar" :style=progress_bar_style(gm.player.mood,gm.player.maxMood)><br></div>
                </td>
              </tr>
              <tr>
                <td class="status-emoji"><span>💪</span></td>
                <td class="status-name"><span>体力</span></td>
                <td class="status-value"><span>{{ gm.player.energy }} / {{ gm.player.maxEnergy }}</span></td>
                <td class="status-bar" colspan="3">
                  <div class="progress-bar" :style=progress_bar_style(gm.player.energy,gm.player.maxEnergy)><br></div>
                </td>
              </tr>
              <tr>
                <td class="status-emoji"><span>💰</span></td>
                <td class="status-name"><span>资产</span></td>
                <td class="status-value" colspan="4"><span>{{ gm.player.money }} </span></td>
              </tr>
            </table>
            <table class="status-table">
              <tr>
                <td class="status-emoji"><span>🎲</span></td>
                <td class="status-name"><span>行动</span></td>
                <td class="status-value"><span>{{ gm.player.actionPoint }} / {{ gm.player.maxActionPoint }}</span></td>
                <td class="status-emoji"><span>🗓️</span></td>
                <td class="status-name"><span>天数</span></td>
                <td class="status-value"><span>{{ gm.days }}</span></td>
                <td class="empty"><br></td>
              </tr>
            </table>
          </div>

          <!-- 选项面板 -->
          <div id="top-right-bottom-right-section">
            <div id="options-panel">
              
              <span>选歌</span>
              <select @change="select_music()" v-model="gm.music_selected" style="width: 70%;">
                <option v-for="music in gm.music_list" :value="music"> {{ music.name }} </option>
              </select>

              <hr>
              <span>设置字体大小</span>
              <select @change="set_font_size()" v-model="font_size">
                <option v-for="sz in 8" :value="((sz * 2) + 8) + 'px'"> {{sz * 2 + 8}} </option>
              </select>

              <hr>
              <button @click="reset()">重开</button>

              <hr>
              <button @click="nextDay()" v-if="gm.ending==0">今天很努力了，明天再继续努力吧</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="bottom-section">
      <!-- 卡组 -->
      <div id="card-group">

        <!-- 卡 -->
        <div v-for="(card, index) in gm.myCards" @click="click_card(index)"
          :class="['card', gm.checkCardAvailable(index) ? 'is-card-usable' : 'is-card-unusable']" >
          <div class="card-face-div">
            <img class="card-img" :src="card.img" draggable="false">
            <div class="card-name"><span>{{ card.name }}</span></div>
            <div class="is-card-corner">
              <span v-if="gm.myCards[index].used">已使用</span>
              <span v-else-if="!gm.checkCardAvailable(index)">不可用</span>
            </div>
          </div>

          <table v-if="card.isRandom"
            class="card-effect-table" >
            <tr>
              <td class="card-effect">
                <span>🎓 +?</span>
                <div class="card-effect-bkgd-none"><br></div>
              </td>
              <td class="card-effect">
                <span>😆 +?</span>
                <div class="card-effect-bkgd-none"><br></div>
              </td>
            </tr>
            <tr>
              <td class="card-effect">
                <span>💪 +?</span>
                <div class="card-effect-bkgd-none"><br></div>
              </td>
              <td class="card-effect">
                <span>💰 +?</span>
                <div class="card-effect-bkgd-none"><br></div>
              </td>
            </tr>
          </table>
          <table v-else class="card-effect-table">
            <tr>
              <td class="card-effect">
                <span>🎓 {{ num_to_str_with_sign(card.rknowledge) }}</span>
                <div :class="card_effect_style(card.rknowledge)"><br></div>
              </td>
              <td class="card-effect">
                <span>😆 {{ num_to_str_with_sign(card.rmood) }}</span>
                <div :class="card_effect_style(card.rmood)"><br></div>
              </td>
            </tr>
            <tr>
              <td class="card-effect">
                <span>💪 {{ num_to_str_with_sign(card.renergy) }}</span>
                <div :class="card_effect_style(card.renergy)"><br></div>
              </td>
              <td class="card-effect">
                <span>💰 {{ num_to_str_with_sign(card.rmoney) }}</span>
                <div :class="card_effect_style(card.rmoney)"><br></div>
              </td>
            </tr>
          </table>
          <hr>
          <p class="card-description">{{ card.desc }}</p>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="../js/zhishixuebao.js"></script>
<script>
  new Vue({
    el: "#main",
    data() {
      return {
        isEnd:false,
        character_portrait: {
          url: "../static/img/直播1.png"
        },
        output: {
          text_area: null,
          text_list_max_length: 100,
          text_list: [
            "目标：",
            "用最少的天数, 让“知识”进度条达到100%",
            "玩法：",
            "1. 每天获得 6 张卡牌, 最左侧固定为 1 张“学知识”且不可被选择保留",
            "2. 每天恢复至 4 个行动点",
            "3. 点击卡牌消耗1个行动点并使用该卡牌",
            "4. 每天结束后，可以在剩余的随机卡牌中选择 1 张保留"
          ],
        },
        font_size: '16px',
        music_list: [
          { name: '保持静音', call_back: () => { this.print("回调1"); } },
          { name: '无' },
        ],
        selected_music: {},

        status: {
          knowledge: { val: 0,  max: 100 },
          mood:      { val: 12, max: 20  },
          energy:    { val: 0,  max: 20  },
          money:     { val: 1000, max: 100 },
          action:    { val: 4,  max: 4   },
          day: 1
        },
        action_count: 1,

        CARD_USAGE_STATUS: {
          usable   : 0,
          unusable : 1,
          used     : 2,
          random   : 3,  /* 未翻开的随机事件卡牌 */
        },

        card_group: [],
        gm:this.getGM()
        
      };
    },
    
    mounted() {
      document.documentElement.style.setProperty('--font-size', this.font_size);
      this.output.text_area = this.$el.querySelector('#output-text-area');
    },

    methods: {
      /* 设置角色立绘 */
      set_character_portrait(img_url) {
        this.character_portrait.url = img_url;
      },

      /* 选择播放音乐 */
      select_music() {
        this.print("已选择播放音乐：" + gm.music_selected.name);
        
        if (gm.music_selected.call_back) {
          gm.music_selected.call_back();
        }
        else{
          gm.music_mute=false
          gm.playAudio(gm.music_selected.url);
        }
      },

      /* 设置字体大小 */
      set_font_size() {
        document.documentElement.style.setProperty('--font-size', this.font_size);
        this.print("已设置字体大小为：" + this.font_size);
      },

      /* 输出文本 */
      print(text) {
        this.output.text_list.push(text);

        if (this.output.text_list.length > this.output.text_list_max_length) {
          this.output.text_list.shift();
        }

        this.$nextTick(() => {
          this.output.text_area.scrollTop = this.output.text_area.scrollHeight;
        });
      },

      /* 计算进度条 */
      calculate_progress(val,max) {
        return Math.min(val / max * 100, 100);
      },

      /* 计算进度条的颜色 */
      progress_bar_style(val,max) {
        let width = Math.min(val / max * 100, 100);
        let color = [
          '#ff0000', '#ff2d00', '#ff7900', '#ff9f00', '#ffc600',
          '#ffd900', '#eeee00', '#d9ff00', '#acff00', '#69f700', '#69f700',
        ][Math.floor(width / 10)];
        return {
          'width': `${ width }%`,
          'background-color': color
        };
      },

      /* 卡牌效益的箭头 */
      card_effect_style(effect) {
        return effect > 0 ? 'card-effect-bkgd-up' :
               effect < 0 ? 'card-effect-bkgd-down' : 'card-effect-bkgd-none'
      },
      
      /* 数字转字符串，带有符号 */
      num_to_str_with_sign(num) {
        return `${(num >= 0) ? '+' : '-'}${Math.abs(num)}`;
      },

      /* 点击卡牌 */
      click_card(index) {
        if(this.gm.checkCardAvailable(index)){
          var text =  this.gm.cardDesc(index)
          if(text!=null){
            this.print("")
            this.print(text)
          }
        }

        gm.useCard(index);
        console.log(gm.ending,this.isEnd)
        if(gm.ending>0 && !this.isEnd){
          this.print("")
          this.print(`结局 ${gm.ending}`)
          this.print(gm.end)
          this.print("")
          this.isEnd=true
        }
      },

      getGM(){
        return gm;
        isEnd=false;
      },

      nextDay(){
        if(!gm.endDay()&&gm.endingDay){
          this.print("")
          this.print("从剩余的随机卡中选择一张保留，再次点击下一天则不保留卡牌")
          this.print("")
        }
        
      },

      reset(){
        this.gm.init()
        this.gm.stopPlayAudio()
        this.output.text_list = [
            "目标：",
            "用最少的天数, 让“知识”进度条达到100%",
            "玩法：",
            "1. 每天获得 6 张卡牌, 最左侧固定为 1 张“学知识”且不可被选择保留",
            "2. 每天恢复至 4 个行动点",
            "3. 点击卡牌消耗1个行动点并使用该卡牌",
            "4. 每天结束后，可以在剩余的随机卡牌中选择 1 张保留"
          ]
      }

    }
  });
</script>

</html>