<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <script src="../js/vue2.js"></script>
</head>

<body>
  <div id="main">
    <div id="top-section">

      <!-- 角色图片 -->
      <div id="top-left-section">
        <img id="character_portrait" :src="player.character_portrait.url" draggable="false">
      </div>

      <div id="top-right-section">
        <!-- 输出面板 -->
        <div id="top-right-top-section">
          <textarea id="output-text-area" readonly v-model="output.text_list.join('\n')"></textarea>
        </div>

        <div id="top-right-bottom-section">
          <div id="top-right-bottom-left-section">
            <!-- 属性面板 -->
            <table class="status-table">
              <tr>
                <td class="status-emoji"><span>🎓</span></td>
                <td class="status-name"><span>知识</span></td>
                <td class="status-value-val"><span>{{ player.status.knowledge.val }}</span></td>
                <td class="status-value-add"><span>{{ hover_card_effect.knowledge == 0 ? "" : num_to_str_with_sign(hover_card_effect.knowledge) }}</span></td>
                <td class="status-value-max"><span>/{{ player.status.knowledge.max }}</span></td>
                <td class="status-bar" colspan="3">
                  <div class="progress-bar" :style="progress_bar_style(
                    player.status.knowledge.val + hover_card_effect.knowledge, player.status.knowledge.max)"
                    ><br></div>
                </td>
              </tr>
              <tr>
                <td class="status-emoji"><span>😆</span></td>
                <td class="status-name"><span>心情</span></td>
                <td class="status-value-val"><span>{{ player.status.mood.val }}</span></td>
                <td class="status-value-add"><span :class="player.status.mood.val + hover_card_effect.mood <= 1 ? 'warn' : ''">
                  {{ hover_card_effect.mood == 0 ? "" : num_to_str_with_sign(hover_card_effect.mood) }}</span></td>
                <td class="status-value-max"><span>/{{ player.status.mood.max }}</span></td>
                <td class="status-bar" colspan="3">
                  <div class="progress-bar" :style="progress_bar_style(
                    player.status.mood.val + hover_card_effect.mood, player.status.mood.max)"
                    ><br></div>
                </td>
              </tr>
              <tr>
                <td class="status-emoji"><span>💪</span></td>
                <td class="status-name"><span>体力</span></td>
                <td class="status-value-val"><span>{{ player.status.energy.val }}</span></td>
                <td class="status-value-add"><span :class="player.status.energy.val + hover_card_effect.energy <= 1 ? 'warn' : ''">
                  {{ hover_card_effect.energy == 0 ? "" : num_to_str_with_sign(hover_card_effect.energy) }}</span></td>
                <td class="status-value-max"><span>/{{ player.status.energy.max }}</span></td>
                <td class="status-bar" colspan="3">
                  <div class="progress-bar" :style="progress_bar_style(
                    player.status.energy.val + hover_card_effect.energy, player.status.energy.max)"
                    ><br></div>
                </td>
              </tr>
              <tr>
                <td class="status-emoji"><span>💰</span></td>
                <td class="status-name"><span>资产</span></td>
                <td class="status-value-val"><span>{{ player.status.money.val }}</span></td>
                <td class="status-value-add"><span :class="player.status.money.val + hover_card_effect.money <= 3 ? 'warn' : ''">
                  {{ hover_card_effect.money == 0 ? "" : num_to_str_with_sign(hover_card_effect.money) }}</span></td>
                <td class="status-value-max"><span>/{{ player.status.money.max }}</span></td>
                <td class="status-bar" colspan="3">
                  <div class="progress-bar" :style="progress_bar_style(
                    player.status.money.val + hover_card_effect.money, player.status.money.max)"
                    ><br></div>
                </td>
              </tr>
            </table>
            <table class="status-table">
              <tr>
                <td class="status-emoji"><span>🎲</span></td>
                <td class="status-name"><span>行动</span></td>
                <td class="status-value-val"><span>{{ player.action_count.val }}</span></td>
                <td class="empty"><br></td>
                <td class="status-emoji"><span>🗓️</span></td>
                <td class="status-name"><span>天数</span></td>
                <td class="status-value-val"><span>{{ player.round_count }}</span></td>
                <td class="empty"><br></td>
              </tr>
            </table>
          </div>

          <!-- 选项面板 -->
          <div id="top-right-bottom-right-section">
            <div id="options-panel">
              
              <span>选歌</span>
              <select @change="select_music()" v-model="player.audioPlayer.music_selected" style="width: 70%;">
                <option v-for="music in player.audioPlayer.music_list" :value="music"> {{ music.name }} </option>
              </select>

              <hr>
              <span style="color: chocolate">设置字体大小</span>
              <select @change="set_font_size()" v-model="font_size">
                <option v-for="sz in 8" :value="((sz * 2) + 8) + 'px'"> {{sz * 2 + 8}} </option>
              </select>

              <hr>
              <button @click="reset()">重开</button>
              <hr>
              <button @click="next_round()">明天再继续努力吧</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="bottom-section">
      <!-- 卡组 -->
      <div id="card-group">

        <!-- 卡 -->
        <div v-for="(card, idx) in player.card_group" @click="click_card(idx)"
          @mouseenter="hover_card(card)" @mouseleave="hover_card(null)"
          :class="['card',
            card.usage_status & Card_USAGE_STATUS.random ? 'is-random-card' : '',

               (click_card_status.val == click_card_status.enum.use  && (card.usage_status & Card_USAGE_STATUS.usable))
            || (click_card_status.val == click_card_status.enum.keep && !(card.usage_status & Card_USAGE_STATUS.used) && idx != 0)
            ? 'is-card-usable' : 'is-card-unusable']">
          <div class="card-face-div">
            <img class="card-img" :src="card.img_url" draggable="false">
            <div class="card-name"><span>{{ card.name }}</span></div>
            <div class="card-corner">
              <span>
                {{
                  card.usage_status & Card_USAGE_STATUS.used           ? "已使用" :

                  click_card_status.val == click_card_status.enum.use
                  && !(card.usage_status & Card_USAGE_STATUS.usable)   ? "不可用" :

                  click_card_status.val == click_card_status.enum.keep
                  && idx == 0                                          ? "无须继承" : ""
                }}
              </span>
            </div>
          </div>
          <table class="card-effect-table">
            <tr>
              <td class="card-effect">
                <span>🎓 {{ num_to_str_with_sign(card.effect.knowledge) }}</span>
                <div :class="card_effect_style(card.effect.knowledge)"><br></div>
              </td>
              <td class="card-effect">
                <span>😆 {{ num_to_str_with_sign(card.effect.mood) }}</span>
                <div :class="card_effect_style(card.effect.mood)"><br></div>
              </td>
            </tr>
            <tr>
              <td class="card-effect">
                <span>💪 {{ num_to_str_with_sign(card.effect.energy) }}</span>
                <div :class="card_effect_style(card.effect.energy)"><br></div>
              </td>
              <td class="card-effect">
                <span>💰 {{ num_to_str_with_sign(card.effect.money) }}</span>
                <div :class="card_effect_style(card.effect.money)"><br></div>
              </td>
            </tr>
          </table>
          <hr>
          <p class="card-description">{{ card.description }}</p>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="../js/zhishixuebao.js"></script>
<script>
  new Vue({
    el: "#main",
    data() {
      return {
        character_portrait: {
          url: "../static/img/直播1.png"
        },
        output: {
          text_area: null,
          text_list_max_length: 100,
          text_list: [],
        },
        font_size: '16px',

        player: new Player(),
        Card_USAGE_STATUS: Card.USAGE_STATUS,
        hover_card_effect: {
          knowledge: 0,
          mood     : 0,
          energy   : 0,
          money    : 0,
        },

        click_card_status: {
          enum: { use: 0, keep: 1 },
          val: 0,
        }
      };
    },
    
    mounted() {
      document.documentElement.style.setProperty('--font-size', this.font_size);
      this.output.text_area = this.$el.querySelector('#output-text-area');
      this.reset();
    },

    methods: {
      /* 设置角色立绘 */
      set_character_portrait(img_url) {
        this.character_portrait.url = img_url;
      },

      print_intro() {
        this.print(
`--- [ 知识 学爆 100 天 ] ---
 * 玩法：
  1. 每天固定 1 张学习卡、 5 张随机卡和 4 个行动点
  2. 消耗一个行动点使用一张卡
  3. 耗尽行动点后，点击“明天继续努力”，开启新的一天
     （可选 1 张未使用的卡继承到明天）
  4. 若行动点未耗尽，也可开启新的一天，但是有几率扣除少许体力和心情
 * 结局：
  1. “知识” 或 “资产” 进度条达到100%，则游戏胜利
  2. 一天结束后，如果心情低落，或体力透支，或耗尽资产，则游戏失败
     （心情=0，或体力=0，或心情+体力<=3，或资产<=3）
  3. 100 天后未胜利，则游戏失败
`     );
        this.$nextTick(() => {
          this.output.text_area.scrollTop = 0;
        });
      },

      /* 选择播放音乐 */
      select_music(music) {
        this.print("播放音乐");
        this.player.audioPlayer.playSelect(this.player.audioPlayer.music_selected)
      },

      /* 设置字体大小 */
      set_font_size() {
        document.documentElement.style.setProperty('--font-size', this.font_size);
      },

      /* 输出文本 */
      print(text) {
        this.output.text_list.push(text);

        if (this.output.text_list.length > this.output.text_list_max_length) {
          this.output.text_list.shift();
        }

        this.$nextTick(() => {
          this.output.text_area.scrollTop = this.output.text_area.scrollHeight;
        });
      },

      /* 获取鼠标下方的卡牌的信息 */
      hover_card(card) {
        if (card == null) {
          this.hover_card_effect.knowledge = 0;
          this.hover_card_effect.mood      = 0;
          this.hover_card_effect.energy    = 0;
          this.hover_card_effect.money     = 0;
          return;
        }

        if ((this.click_card_status.val == this.click_card_status.enum.use  && card.usage_status & this.Card_USAGE_STATUS.usable)
         || (this.click_card_status.val == this.click_card_status.enum.keep && !(card.usage_status & this.Card_USAGE_STATUS.used)))
        {
          this.hover_card_effect.knowledge = card.effect.knowledge;
          this.hover_card_effect.mood      = card.effect.mood     ;
          this.hover_card_effect.energy    = card.effect.energy   ;
          this.hover_card_effect.money     = card.effect.money    ;
        }
      },

      /* 计算进度条 */
      calculate_progress(val,max) {
        return Math.min(val / max * 100, 100);
      },

      /* 计算进度条的颜色 */
      progress_bar_style(val, max) {
        let width = Math.min(val / max * 100, 100);
        let color = [
          '#ff0000', '#ff2d00', '#ff7900', '#ff9f00', '#ffc600',
          '#ffd900', '#eeee00', '#d9ff00', '#acff00', '#69f700', '#69f700',
        ][Math.floor(width / 10)];
        return {
          'width': `${ width }%`,
          'background-color': color
        };
      },

      /* 卡牌效益的箭头 */
      card_effect_style(effect) {
        return effect > 0 ? 'card-effect-bkgd-up' :
               effect < 0 ? 'card-effect-bkgd-down' : 'card-effect-bkgd-none'
      },
      
      /* 数字转字符串，带有符号 */
      num_to_str_with_sign(num) {
        return num == null ? "?" : `${(num >= 0) ? '+' : '-'}${Math.abs(num)}`;
      },

      /* 点击卡牌 */
      click_card(idx) {
        /* 判断游戏结束 */
        if (this.player.is_game_over()) {
            this.game_over();
            return;
        }
        /* 选卡模式，继承到下一回合 */
        if (this.click_card_status.val == this.click_card_status.enum.keep) {
          this.next_round(idx);
          return;
        }
        /* else 出卡模式 */
        /* 出卡 */
        let res = this.player.use_card(idx);
        if (false == res.val) {
          this.print(`无法使用 [${this.player.card_group[idx].name}] ${res.txt}`);
          return;
        }
        /* 出卡成功 */
        this.hover_card(null);
        this.print(`[行动${this.player.action_count.val + 1}]\n` +
                   `使用[${this.player.card_group[idx].name}] ${res.txt}`);
        /* 判断游戏结束 */
        if (this.player.is_game_over()) {
            this.game_over();
            return;
        }
      },

      /* 重开 */
      reset() {
        this.output.text_list.length = 0;
        this.click_card_status.val = this.click_card_status.enum.use;
        this.player.reset();
        this.print_intro();
      },

      /* 下一回合 */
      next_round(keep_card_idx=null) {
        /* 从用卡模式变成留卡模式 */
        if (this.click_card_status.val == this.click_card_status.enum.use) {
          /* 判断游戏结束 */
          if (true == this.player.judge_game_over_before_next()) {
            this.game_over();
            return;
          }

          /* 变成留卡模式 */
          this.click_card_status.val = this.click_card_status.enum.keep;
          this.print("明天再继续努力吧，选择一张未使用过的卡以继承到明天（再次点击则不继承卡）");
        }
        /* 进入下一回合 */
        else /* this.click_card_status.val == this.click_card_status.enum.keep */
        {
          /* 这里不需要判断游戏结束，因为留卡模式的时候已经判断过了 */
          let res = this.player.next_round(keep_card_idx);
          if (false == res.val) {
            this.print(res.txt);
            return;
          }
          
          this.click_card_status.val = this.click_card_status.enum.use;
          this.print(`[第${this.player.round_count}天]\n` + res.txt)
        }
      },

      /* 打印游戏结局 */
      game_over() {
        this.print(this.player.game_outcome.text);
      }
    }
  });
</script>

</html>